mixin listtem(movie)
    tr 
        td #{movie.id} 
        td #{movie.title} 
        td #{movie.year}
        td 
            (href="/movie/delete/" + movie.id) Delete
        td 
            a(href="/movie/form/" + movie.id) Update 